@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

#nav-links {
	width: 100%;
	display: flex;
    justify-content: end;
    color: white;
}

#navbar{
    background-color: #0b2b26;
    border-bottom: 1px solid rgba(255, 255, 0, 0.178);
}

.nav-link{
    color: white;
    text-decoration: none;
}

#icon{
    font-family: 'Airbnb Cereal App Extra Bold'
}

.icon{
    width: 3rem;
    padding: 0;
}