.form-container{
    height: 75vh;
     display: flex;
    justify-content: center;
    align-items: center;
}

.text-field-containers{
    display: grid;
    grid-gap: 4rem;
    width: 30%;
}

#submit-btn{
    border: 1px solid #1fad37;
    color: #1fad37;
    &:hover{
        background-color: #1fad3721;
    }
}