.form-container{
    height: 75vh;
     display: flex;
    justify-content: center;
    align-items: center;
}

.text-field-containers{
    display: grid;
    grid-gap: 4rem;
    width: 25%;
}

#submit-btn{
    border: 1px solid #ef001b;
    color: #ef001b;
    &:hover{
        background-color: #ef001c4d;
    }
}